extends layout

block content
  if projects.length > 0
    div.container-fluid
      div.row.justify-content-center
        if !user
          each project in projects
            div.col-sm-3.d-flex.flex-column.justify-content-between.p-4.rounded-3.mb-3.mx-2.border.border-black
              img.img-thumbnail.mb-3(src="data:image/webp;base64,#{project.img.data.toString('base64')}")
              h2= project.name
              p= project.desc
              div.d-flex.justify-content-between
                a.link-success(href=project.liveUrl) Open live 
                a.link-info(href=project.repoUrl) View Code
        else 
          each project in projects
              div.col-sm-3.d-flex.flex-column.justify-content-between.p-4.rounded-3.mb-3.mx-2.border.border-black
                img.img-thumbnail.mb-3(src="#{project.img}")
                h2= project.name
                p= project.desc
                div.d-flex.align-items-center.justify-content-around.mb-1
                  a(href=project.liveUrl)
                    button.btn.btn-success(type="button") Open Live
                  a(href=project.repoUrl)
                    button.btn.btn-info(type="button") View Code
                a.text-center(href=project.url)
                  button.btn.btn-primary(type="button") Edit/delete